## 1- Calculs arithmétiques
### Désignation :
- addition : +
- soustration : -
- multiplication : *
- division : /
- Le reste de la division euclidienne : %
- Surpérieur à : >
- Inférieur à : <
- Surpérieur ou égal à : >=
- Inférieur ou égal à : <=

In [35]:
# simple calcul
1 + 1

2

#### Le resultat de ce calcul, peut être affecté à une variable pour des calculs ultérieurs. D'ou la notion de variables

In [7]:
# exemple
x = 1 + 1
y = x
x = y + 1
# ce dernier point est equivalents de :
x += 1 # A cet instant, x vaut 4

In [8]:
x

4

### Les calculs équivanlents :
- x -= 1 <=> x = x - 1
- x /= 2 <=> x = x/2
- x *= 2 <=> x = x * 2
- etc ...

In [11]:
# On peut aisément vérifier :
x = 4
y = -2
print(x - y)
print(x + y)
print(x * y)
print(x / y)
print(x % y)

# La fonction print est utilisée pour affichage en python

6
2
-8
-2.0
0

## 2- Les opérations logiques
### Désignations :
- Vrai <=> True
- Faux <=> False
- Et <=> &
- Ou <=> |
- Egalité <=> ==
- Différent de !=

In [13]:
# On peut aisément vérifier :
a = True
b = False
print(a == b)
print(a != b)
print(a & b)
print(a | b)

False
True
False
True

### 3- Chaine de caractère
- On utilise " " ou ' ' pour définir une chaine de caractère
- Exemple : a = "Age"

In [26]:
a = "Nom"
b = 'prénom'
print(a , b )

# Pour afficher deux choses à la fois, on utlise la virgule dans print.

Nom prénom

In [34]:
### Quelques opérations sur les chaines de caractère
nom = "DOSSOU"
prenom1 = "Vignon"
prenom2 = "David"

etudiant = nom +' ' + prenom1 + ' ' + prenom2  # concaténation
print("Etudiant :", etudiant)

Etudiant : DOSSOU Vignon David

## Types de variables
### Désignation :
- variable entier naturel ou relatif : int
- variable rationnel ou réel : float
- variable chaine de caractère : str 
Ainsi, pour vérifier le type d'une varible, on utilise la fonction type

In [38]:
# On peut aisément vérifier :
a = 10
b = 3.14
c = '191'
d = "python"
e = True
f = False

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>

## Convertion
En effet,  
- on peut convertir toute variable en une chaine de caractère
- on peut convertir une chaine de caractère en un nombre entier ou réel, mais à condition
- on ne peut pas convertir, par exemple la chaine 'a12' en entier : on aura une erreur
- on ne peut pas convertir, par exemple la chaine '1.12' en entier : on aura une erreur
- Mais on peut convertir '1.12' en réel

In [43]:
# Exemple
x = '18'
t = 100
y = int(x)
z = str(t)

print(type(y))
print(type(z))
print(y)

<class 'int'>
<class 'str'>
18

## Les structures conditionnelles
### Désignation : 
- Si <=> if
- Sinon <=> else
- Sinon si <=> elif

### Syntaxe :
if condition1 :
    instruction1 
elif condition2 :
    instruction2
        .
        .
        .
else :
    instruction n

In [24]:
# Exemple
moyenne = 15
if moyenne < 10 :
    print("Réfuser")
else :
    print("Admis")

Admis

### Pour demander à l'utilisateur d'entrer un nombre ou une chaine de caractère, on utilise la fonction input
- Tout ce qui est entré par l'utilisateur est par defaut considérer comme une chaine de caractère
- Pour l'utiliser comme un nombre, if faut le convertir.

In [46]:
# Exemple
a = input("Entrez un nombre")
a = int(a) # ça marchera si l'utilisateur a bien entré un nombre
print(a * 2)

Entrez un nombre 12

24

### Exercice 1
Demandez à l'utilisateur d'entrer son age, et affichez lui sa tranche d'âge

In [25]:
# réponse
age = int(input("Entrez votre age"))

if age < 16 :
    print("Mineur")
elif (age >= 16) & (age < 18 ):
    print("Adolescent")
elif (age >= 18) & (age < 26 ):
    print("Jeune homme")
else :
    print("Adulte")

Entrez votre age 22

Jeune homme

## Les boucles
### Boucle while (tantque)

# Syntaxe
while (condition) :
    "instruction"

In [49]:
# Exemple : somme de touts les nombres entre 0 et 10
k = 0
s = 0
while k <= 10:
    s = s + k
    k += 1
print(s)

55

### Boucle for (Pour)

# Syntaxe
for i in range(debut, fin, pas):
    instructions

Remarque
- Par defaut, debut = 0 et pas = 1
- la fin n'est pas pris en compte
- la boucle commence au debut et s'arrête à fin - 1

In [ ]:
# Exemple : somme de touts les nombres entre 0 et 10

In [50]:
s = 0 
for i in range(11):
    s = s + i
print(s)

55

### Les Fonctions

In [53]:
def fibonacci(n):
    tout_elements = []
    a=0
    b= 1
    while a <= n+1:
        tout_elements.append(a)
        a, b = b , a + b

    return tout_elements
print(fibonacci(19))

[0, 1, 1, 2, 3, 5, 8, 13]

In [15]:
prenom = "Josué"

print(prenom[-1])

é

In [37]:
liste = [1,3,2,32,4,34,35,5,25]

print(liste[::2])

[1, 2, 4, 35, 25]

In [38]:
print(liste[:9:])

[1, 3, 2, 32, 4, 34, 35, 5, 25]

In [39]:
liste[0] = -1
print(liste)

[-1, 3, 2, 32, 4, 34, 35, 5, 25]

In [40]:
liste.append(9)

print(liste)

[-1, 3, 2, 32, 4, 34, 35, 5, 25, 9]

In [41]:
x = liste.pop(3)
print(liste, x)

[-1, 3, 2, 4, 34, 35, 5, 25, 9] 32

In [36]:
print(liste)

[-1, 3, 2, 34, 35, 5, 25, 9]

In [42]:
liste.index(34)

4

In [43]:
liste_2 = [100,40]
liste.extend(liste_2)

In [44]:
liste

[-1, 3, 2, 4, 34, 35, 5, 25, 9, 100, 40]

In [45]:
liste.count(5)

1

In [50]:
liste.sort(reverse = True)

In [51]:
print(liste)

[100, 40, 35, 34, 25, 9, 5, 4, 3, 2, -1]

In [55]:
liste_1=  ['ALex','Armour','Daniel','Prince','Zatta']

dictionnaire = {}

dictionnaire.fromkeys(liste, liste_1)

{100: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta'],
 40: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta'],
 35: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta'],
 34: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta'],
 25: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta'],
 9: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta'],
 5: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta'],
 4: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta'],
 3: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta'],
 2: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta'],
 -1: ['ALex', 'Armour', 'Daniel', 'Prince', 'Zatta']}

In [56]:
dictionnaire_carree = {k:v**2 for k,v in enumerate(range(10))}

In [57]:
print(dictionnaire_carree)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [58]:
list(dictionnaire_carree.values())

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
x = int(input("entrez un entier"))

entrez un entier 12

In [61]:
x

12

Open

In [63]:
f = open("ficher.txt", 'w')

f.write("Bonjour")
f.close()

In [65]:
f = open("ficher.txt", 'r')

print(f.read())
f.close()

Bonjour

In [75]:
with open("ficher.txt", 'w') as f:
    for i in range(20):
        f.write(f"{i}^2 = {i**2}\n")

In [77]:
 with open("ficher.txt", 'r') as f:
    liste_3 = f.readlines()

liste_3

['0^2 = 0\n',
 '1^2 = 1\n',
 '2^2 = 4\n',
 '3^2 = 9\n',
 '4^2 = 16\n',
 '5^2 = 25\n',
 '6^2 = 36\n',
 '7^2 = 49\n',
 '8^2 = 64\n',
 '9^2 = 81\n',
 '10^2 = 100\n',
 '11^2 = 121\n',
 '12^2 = 144\n',
 '13^2 = 169\n',
 '14^2 = 196\n',
 '15^2 = 225\n',
 '16^2 = 256\n',
 '17^2 = 289\n',
 '18^2 = 324\n',
 '19^2 = 361\n']

In [73]:
import os

os.getcwd()

'C:\\Users\\ADMIN'

In [79]:
 with open("ficher.txt", 'r') as f:
    liste_4 = f.read().splitlines()

liste_4

['0^2 = 0',
 '1^2 = 1',
 '2^2 = 4',
 '3^2 = 9',
 '4^2 = 16',
 '5^2 = 25',
 '6^2 = 36',
 '7^2 = 49',
 '8^2 = 64',
 '9^2 = 81',
 '10^2 = 100',
 '11^2 = 121',
 '12^2 = 144',
 '13^2 = 169',
 '14^2 = 196',
 '15^2 = 225',
 '16^2 = 256',
 '17^2 = 289',
 '18^2 = 324',
 '19^2 = 361']

In [82]:
liste = [line.strip() for line in open("ficher.txt", 'r')]

In [83]:
liste

['0^2 = 0',
 '1^2 = 1',
 '2^2 = 4',
 '3^2 = 9',
 '4^2 = 16',
 '5^2 = 25',
 '6^2 = 36',
 '7^2 = 49',
 '8^2 = 64',
 '9^2 = 81',
 '10^2 = 100',
 '11^2 = 121',
 '12^2 = 144',
 '13^2 = 169',
 '14^2 = 196',
 '15^2 = 225',
 '16^2 = 256',
 '17^2 = 289',
 '18^2 = 324',
 '19^2 = 361']